<a href="https://colab.research.google.com/github/VandanaVerma14/Probibility-density-function/blob/main/PDF_ds.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [9]:
!ls

archive.zip  data  data.csv.zip  sample_data

In [10]:
!unzip archive.zip

Archive:  archive.zip
  inflating: data.csv

In [13]:
!ls

archive.zip  data  data.csv  data.csv.zip  sample_data

In [14]:
import pandas as pd

df = pd.read_csv("data.csv", encoding='latin1',low_memory=False)
df.head()

,stn_code,sampling_date,state,location,agency,type,so2,no2,rspm,spm,location_monitoring_station,pm2_5,date
0,150,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",4.8,17.4,NaN,NaN,NaN,NaN,1990-02-01
1,151,February - M021990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,3.1,7.0,NaN,NaN,NaN,NaN,1990-02-01
2,152,February - M021990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.2,28.5,NaN,NaN,NaN,NaN,1990-02-01
3,150,March - M031990,Andhra Pradesh,Hyderabad,NaN,"Residential, Rural and other Areas",6.3,14.7,NaN,NaN,NaN,NaN,1990-03-01
4,151,March - M031990,Andhra Pradesh,Hyderabad,NaN,Industrial Area,4.7,7.5,NaN,NaN,NaN,NaN,1990-03-01

In [15]:
df.columns

Index(['stn_code', 'sampling_date', 'state', 'location', 'agency', 'type',
       'so2', 'no2', 'rspm', 'spm', 'location_monitoring_station', 'pm2_5',
       'date'],
      dtype='object')

In [16]:
x = df['no2'].dropna().values

In [19]:
import numpy as np

ar = 0.30
br = 1.5

z = x + ar * np.sin(br * x)

In [20]:
m = np.mean(z)
sigma = np.var(z)

lam = 1 / (2 * sigma)
c = np.sqrt(lam / np.pi)

print("mean =", m)
print("lambda =", lam)
print("c =", c)

mean = 25.819751672076507
lambda = 0.001461926988966829
c = 0.021571875520386332